*{
    margin:0;
    padding:0;
}
.clear{
    zoom:1;
}
/*重要，设置上一级的宽高，不会出现滚动条*/
html,body{
    height:100%;
}

.clear:after{
    content: "";
    display: block;
    clear: both;
}
#mask{
    z-index:200;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
    /*注意不是absolute，*/
    position: fixed;
    left:0;
    top:0;
    display: none;
}

.header{
    height:60px;
    background-color: dodgerblue;
    margin-bottom:10px;
}
.main{
    display: flex;
    flex-flow:row;
    min-height:800px;
    margin: 10px;
}
.left{
    flex:1;
    min-height:100%;
    order:1;
    background-color: #ffb45f;
    margin-right: 10px;
    border-radius: 10px;
}
.mid{
    flex:2;
    min-height:100%;
    order:2;
    background-color: #ff7a5a;
    margin-right: 10px;
    border-radius: 10px;
}
.right{
    flex:1;
    min-height:100%;
    order:3;
    background-color: #ff4d5c;
    border-radius: 10px;
}
.footer{
    height:100px;
    background-color: grey;
    margin-top: 10px;
}
/*选择所有area元素,以area开头的div*/
div[class^='area']{
    width:50px;
    height:50px;
    background-color: blueviolet;
    color:#fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.area-1{

}
.searchTip{
    width:200px;
    min-height:100px;
    background-color: #fff;
    border:1px solid #9C9C9C;
    position: absolute;
    z-index:201;
    left:100px;
    top:100px;
    transition: all 0.8s ease;
    display: none;
}
.searchTip-title{
    height:30px;
    background-color: #616161;
    line-height: 30px;
    text-indent: 10px;
    color:#fff;
    font-size: 20px;
}
.searchTip-next{
    display: block;
    margin: 10px auto 10px auto;
    height: 30px;
    width:60px;
    line-height: 30px;
    color:#fff;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: lightskyblue;
}
.searchTip-content{
    width:80%;
    color:#616161;
    margin: 10px auto;
}
.area-2{
    margin: 30%;
}
.right .area-5{
    margin-top: 80%;
    height:200px;
}
.area-6{
    margin-top: 90%;
}
/*高亮显示元素，注意一定要设置relative*/
.highLight{
    z-index:999998 !important;
    position: relative;
}
/*包裹被高亮的元素，突出显示，z-index位于高亮元素下*/
.high-light-wrapper{
    position: absolute;
    z-index:999997 !important;
    width:0;
    height:0;
    /*动画效果*/
    transition: all 0.8s;
    border:5px solid #fff;
    display: none;
}